[submodule "shadowssite/themes/henry-hugo"]
	path = shadowssite/themes/henry-hugo
	url = https://github.com/kaushikgopal/henry-hugo.git
[submodule "newfreakingsite/themes/hugo-theme-terminal"]
	path = newfreakingsite/themes/hugo-theme-terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "quickstart/themes/ananke"]
	path = quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
